*{margin: 0;
  padding: 0;
}
@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
 
@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}
 
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
 
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
 
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
 
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}


ul, li{list-style: none;}

/*blog*/
.container1{width:21.9rem;
            margin: 0 auto;
}
.head1{width: 100%;
	   height: 2.19rem;
	   background:#ffa500;
	   text-align: center;
	   }
.head1 img{margin-left: 0.876rem;
           margin-top: 0.511rem;
           float: left;
}
.head1 h2{font-size: 0.876rem;
          color: #fff;
          line-height: 2.19rem;        
 }
.pic1{width:90%;
      margin: 0.73rem auto;
      border: 0.073rem solid #d3d3d3;
      border-radius: 0.292rem;
}
.pic1 img, .pic2 img{width:100%;}
.pic1 h3, .pic2 h3{width:96%;
	           margin:0 auto;
	           font-size: 0.876rem;
                   color: #000;
                   font-family: '微软雅黑'
}
.pic1 p, .pic2 p{width:96%;
                 margin: 0 auto;
                 font-size: 0.584rem;
                 color: #d3d3d3;
                 font-family: '微软雅黑'
}
.menu1{width: 100%;margin-top: 0;
       border-top: 0.117rem solid #d3d3d3;
}
.menu1 ul li{float: left;
             padding: 0.365rem 0.6rem;
}

/*blog-share*/
.head1 span{float: right;
            margin-top: -1.46rem;
            margin-right: 1.022rem;
            font-size: 0.73rem;
            color: #fff;
            font-family: '微软雅黑';
}
.pic2{width: 90%;
      margin: 1.46rem auto;   
}
.pic2 .pic2-left{width:50%;}
.pic2 .pic2-right{width:49.6%;
	              float: right;
	              margin-top: -16.2rem;
}
.container1 .btn1{width: 90%;
                  height: 2.19rem;
                  margin: 0 auto;
                  text-align: center;
                  border: 0.073rem solid #8b008b;
                  border-radius: 0.146rem;
}	              
.container1 .btn1 a{line-height: 2.19rem;
                    font-size: 0.876rem;
                    color:#8b008b;
                    font-weight: bold;
                    font-family: '微软雅黑';
}
.pic3{width:90%;
	  height:7.3rem;
      margin: 1.46rem auto; 
}
.pic3 h2{font-family: '微软雅黑';
         color:#000;
         font-size: 0.73rem; 
         margin-bottom: 0.584rem; 
}
.pic3 .pic3-left{width:50%;
                 float: left;
}
.pic3 .pic3-right{width:48.6%;
                  float: right;
}
.pic3 .pic3-left img{width:100%;}
.pic3 .pic3-right h3 ,p{font-family: '微软雅黑';
                        color:#000;
                        font-size: 0.365rem;
}
.pic3 .pic3-right p{font-size: 0.365rem;}

/*about-us*/
.pic4{width:100%;}
.pic4 .pic4-left{width:49%;
	             height:15.184rem; 
	             margin-top: 0.146rem;
	             overflow: hidden;
                 float:left;
}
.pic4 .pic4-right{width:49%; 
	              margin-top: 0.146rem;
	              height:15.184rem;
	              overflow: hidden;
                  float:right;
}
.pic4 .pic4-left img, .pic4 .pic4-right img, .pic4 img{width:100%;}