*{
  margin:0;
  padding:0;  
}

html,body{
  font-family: 'Arial Normal', 'Arial';
  overflow-x:hidden;
  height:100%;
}
ul li{
  list-style:none;
}
a{
  text-decoration:none;
  color:#000;
}

/*外层容器*/
.container{
  width:10rem;
  min-height:100%;
  margin-bottom:-1.12rem; 
  margin:0 auto;
}
.container:after{
  content:'';
  display:block;
}


/*轮播图*/
.carousel{
  width:100%;
  height:4rem;
  position:relative;
  overflow:hidden;
  background-color:#333;
}
.carousel .pic{
  width:400%;
  height:100%;
}
.carousel .pic img{
  width:100%;
  height:100%;
}
.carousel .list{
  position:absolute;
  bottom:0.2rem;
  left:4.2rem;
}
.carousel .list li{
  width:0.266rem;
  height:0.266rem;
  float:left;
  border-radius:0.266rem;
  margin-left:0.1rem;
  background-color:#fff;
}
.carousel .list .on{
  background-color:#000;
}


/*商品列表及详情*/
.content{
  width:100%;
  height:13.78rem;
  background-color:gray;
}
/*左侧商品列表*/
.content .left{
  float:left;
  width:26.6%;
  background-color:gray;
}
.content .left .active{
  background-color:green;
  color:#fff;
}
.content .left .list li{
  width:100%;
  height:1.12rem;
  text-align:center;
  line-height:1.12rem;
  font-size:0.346rem;
  border-bottom:1px solid #333;
  cursor:pointer;
}
/*右侧商品详情*/
.content .right{
  float:right;
  width:73.4%;
  height:100%;
  background-color:#fff;
}
@media screen and (min-width: 321px) and (max-width: 360px) {
  .content .right .shopList .shopLine{
      margin:5.8% 0 1.6% 0.4%!important;
    }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  .content .right .shopList .shopLine{
      margin:6.6% 0 1.6% 0.4%!important;
    }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  .content .right .shopList .shopLine{
      margin:6.8% 0 3.2% 0.4%!important;
    }
}
.content .right .shopList{
  width:100%;
  height:100%;
  display:none; 
}
.content .right .show{
  display:block;
}
.content .right .shopList .shopLine{
  width:100%;
  margin:3.8% 0 1.6% 0.4%;
}
.content .right .shopList li{
  float:left;
  width:33.3%;
  text-align:center;
}
.content .right .shopList li img{
  width:2.13rem;
  height:1.6rem;
}
.content .right .shopList li a{
  width:2.02rem;
  height:0.45rem;
  font-size:0.32rem;
  color:#000;
  text-align:center;
  cursor:pointer;
  border:1px solid #333;
  text-decoration:none;
} 


/*尾部菜单*/
.footer{
  height:1.22rem;
  max-width:10rem;
  margin:0 auto;
  display:inline-block;
  display:-moz-box;
  -moz-box-orient:horizontal;
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  display:box;
  box-orient:horizontal;
}
.footer .nav_li{
  height:1.22rem;
  line-height:1.22rem;
  font-size:16px;
  -webkit-box-flex: 1.0;
  -moz-box-flex:1.0;
  box-flex:1.0;
  text-align:center;
  background-color:gray;
  cursor:pointer;
}
.footer .nav_li:nth-child(2){
  border-left:1px solid #333;
  border-right:1px solid #333;
}
