*{
  margin:0;
  padding:0;  
}

body{
  font-family: 'Arial Normal', 'Arial', '微软雅黑';
  overflow-x:hidden;
}
ul li{
  list-style:none;
}


/*外部容器*/
.container{
  width:10rem;
  height:17.78rem;
  margin:0 auto;
  background-color:#fff;
}

/*充值账号*/
.account{
  width:100%;
  height:2rem;
  padding:0.5rem;
}
.account h3{
  font-size:0.4rem;
  margin-bottom:0.2rem;
}
.account input[type="text"]{
  width:5.3rem;
  height:0.8rem;
  margin-right:0.1rem;
}
.account input[type="button"]{
  width:1.84rem;
  height:0.8rem;
  text-align:center;
}

/*商品信息*/
.message{
  width:100%;
  height:2rem;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
  padding:0.5rem;
  overflow:hidden;
}
.message img{
  width:2.66rem;
  height:2.13rem;
  float:left;
  margin-right:0.3rem; 
}
.message .text{
  width:3.16rem;
  height:2.13rem;
  float:right;
  margin-right:3.4rem;
}
.message .text p{
  margin-bottom:0.2rem;
}
.message .text .name{
  font-size:0.4rem;
  font-weight:bold;
}
.message .text .price{
  font-size:0.56rem;
  font-weight:bold;
}

/*购买商品结算*/
.number{
  width:100%;
  height:0.8rem;
  line-height:1rem;
  padding:0.5rem;
  border-bottom:1px solid lightgray;
}
.number span{
  font-size:0.4rem;
}
.number .changeNum{
  float:right;
  width:3.6rem;
  height:0.8rem;
  margin-right:0.1rem;
}
.number .changeNum input{
  width:1.2rem;
  height:0.61rem;
  text-align:center;
  vertical-align:top;
}
.number .changeNum img{
  width:0.53rem;
  height:0.53rem;
  
}
.total{
  width:100%;
  height:0.2rem;
  padding:0.5rem;
}
.total span{
  font-size:0.5rem;
  font-weight:bold;
}
.total .totalMoney{
  margin-left:5.6rem;
}
.btn{
  width:94%;
  height:1rem;
  margin:1rem auto;
  border-radius:0.2rem;
  background-color:lightgray;
  text-align:center;
  line-height:1rem;
  font-size:0.4rem;
  color:#fff;
}
.introduction{
  width:100%;
  height:3.12rem;
  padding:0.5rem;
}
.box{
  width:100%;
  height:1rem;
  background-color:lightgray;
}

